@model MovieSystem.Models.Movie
<div>
    Title: <strong>@Model.Title</strong>
</div>
<div>
    Director: <strong>@Model.Director</strong>
</div>
<div>
    Year: <strong>@Model.Year</strong>
</div>
<div>
    Leading female role: <strong>@Model.LeadingRoles.FemaleRole</strong>
</div>
<div>
    Leading male role: <strong>@Model.LeadingRoles.MaleRole</strong>
</div>
<div>
    Studio: <strong>@Model.Studio.StudioAddress</strong>
</div>

<br />

@Ajax.ActionLink("Back", "GetAllMovies"
                  , null, new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "result",
            LoadingElementId = "loading"
        }, new { id = "ajaxBack-button" })