@model TicketingSystem.ViewModels.TicketDetailsViewModel

<h1>Ticketing System</h1>

<h2>@Model.Title</h2>

<h3>@Model.Category</h3>

<div class="row">
    <div class="span4">
        <p>
            <strong>Author: </strong>@Model.Author
        </p>
        <p>
            <strong>Priority: </strong>@Model.Priority
        </p>
    </div>
    @if (!string.IsNullOrEmpty(@Model.ScreenshotUrl))
    {
        <div class="span4">
            <img src="@Model.ScreenshotUrl" alt="@Model.Category" />
        </div>
    }
    @if (!string.IsNullOrEmpty(@Model.Description))
    {
        <div class="span4">
            <p>
                <strong>Decription: </strong>@Model.Description
            </p>
        </div>
    }
</div>

<div class="span4">

    <div id="comments">
        @for (int i = 0; i < @Model.Comments.Count(); i++)
        {
            var comment = Model.Comments.ElementAt(i);
            <div>
                <p>
                    <strong> @comment.Author </strong> @comment.Content
                </p>
            </div>

        }
    </div>
</div>


<div id="Comments">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments", OnFailure = "commentPostFailure" }))
    {
        @Html.Hidden("TicketId", Model.TicketId)
        @Html.TextArea("comment")
        @Html.AntiForgeryToken()
        <input type="submit" value="Submit comment" />
    }
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function commentPostFailure() {
            alert("Error");
        }
    </script>
    }