@model PresentsApp.Models.Quest

@{
    ViewBag.Title = "Create";
}

<h2>Create Quest</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Please fill in</legend>

        <div>
            @Html.LabelFor(model => model.UserProfile.UserId, "Employee")
            <div class="controls">
                @Html.DropDownList("UserId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserProfile.UserId)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Year)
            <div class="controls">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div>
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to All Quests", "ShowQuests")
</div>

@*@using (@Html.BeginForm("Save", "Quest", FormMethod.Post, new { employeeId = Model.EmployeeId }))
{
    @Html.AntiForgeryToken()
    <div>
        <div>
            @Html.LabelFor(model => model.Year)
        </div>
        <div>
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>
    </div>
}*@
